.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.calendar {
  height: 500px;
  width: 800px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
