#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.data-analytics-calendar {
  #title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
